table {
  background-color: #313131;
}
.MuiTableCell-root {
  color: #fff !important;
}
.MuiSvgIcon-root {
  color: #fff;
}
button {
  .css-1vooibu-MuiSvgIcon-root {
    width: 2em;
    height: 2em;
  }
}
