html,body{
    margin:0;
    padding: 0;
}
body{
    position: relative;
    background-image: url(../Img/mainfon.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100vh;
    background-attachment:fixed;
}

h2,h3{
    font-family: 'Roboto Slab', serif;
}
label,input,a,p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto Slab', serif;
}
/*header*/

header{
    width: 100%;
    height: 120px;
    background-color: #FCF5E4;
}
.header-logo{
    float: left;
    height: 120px;
}
.header-logo img{
    display: inline-block;
    margin: 10px;
}
.header-logo  h2{
    text-decoration: none;
    position: relative;
    top:-50px;
    display: inline-block;

}
.header-navbar{
    max-width: 81%;
    float: right;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 49px;
}
.header-navbar a{
    
    width: 100px;
    margin: 20px;
    padding: 20px 40px 20px 40px;
    background-color: #FECC50;
    text-decoration: none; 
}
.header-navbar div{
    position: absolute;
    right: 50%;
    margin-right: -180px;
    top: 30px;
}
.header-navbar div h3{
    display: inline-block;
    margin-left: 30px;
    position: relative;
    top:-13px;
}
.header-navbar div img{
    border-radius: 20px;
}

/*main page*/
main{
    margin:40px 5% 0 5%;
    width: 90%;
    height: 960px;
    background-color: rgba(255, 250, 250, 0.4);
}
.lobbiSearch{
    float: left;
    height:100%;
    width: 50%;
}

.lobbiCreate{
    float: right;
    height:100%;
    width: 50%;
}

/*window inside*/
.lobbiSearch-window, .lobbiCreate-window{
    margin:25% 15% 25% 15%;
    height:50%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 70px;
    text-align: center;
    padding: 20px 15px 0px 15px;
    font-size: 2em;
}
.lobbiSearch-window-gamelist, .lobbiSearch-window-gamelist{
    position: relative;
    top:12%;  
    width: 100%;
    padding-bottom: 0%; 
}
.lobbiSearch-window-gamelist a img, .lobbiSearch-window-gamelist a img{
    border-radius: 10px;
    width: 15%;
    height: 100%;
    margin: 3%;
}

/*find.html grid*/
.maingrid{
    text-align: center;
    width: 90%;
    height: 960px;
    margin: 5% 5% 0 5%;
    float: left;
    word-spacing: -.36em;
}

/*fist stroke*/
form{
    overflow: hidden;
    display: flex;
    flex-flow:row nowrap;   
}
/*accordion*/
.accordion-item-show{
    padding-top: 15%;
    width: 15%;
    position: relative;
    z-index: 2;     
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-image: url(../Img/lol.png);
    cursor: pointer;
}
/*open accordion position*/
.accord-items{  
    position: absolute;
}
.accordion-item {
    background: #da4453;
    color: #fff;
    display: none;
    background: rgba(0, 0, 0, 0);
}
.accordion-item img{
    width: 50%; 
    height: 50%;
}


/*position of inputs in first stroke*/  
.maingrid-minmaxRating, .maingrid-playernumMap, .maingrid-dataTime{              
    width: 20%;
    background-color: cadetblue;
}
.maingrid-minmaxRating select, .maingrid-playernumMap input, .maingrid-dataTime input{
    position: relative;
    z-index: 2;
    font-size: 100%;
    overflow: hidden;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}
/*position of stick between blocks*/
.maingrid-gameico-stick, .maingrid-minmaxRating-stick ,.maingrid-playernumMap-stick{
    height: 20px;
    width: 10%;
    background-color: cadetblue;
}

/*second stroke*/
.maingrid-gameico-sticktocoments, .maingrid-minmaxRating-sticktocoments, .maingrid-playernumMap-sticktocoments, .maingrid-dataAge-sticktocoments{
    height: 15%;
    width: 20px;
    background-color: cadetblue;
    display: inline-block;
    margin-top: -.36em;
    margin-left: 25%;
}
.maingrid-gameico-sticktocoments{
    margin-left: -10%;
}
/*comment window*/
.maingrid-comments{
    width: 100%;
    height: 30%;
    background-color: cadetblue;
    margin-top: -.36em;
}
.maingrid-comments textarea{
    padding: 2%;
    margin: 1%;
    font-size: 2em;
    width: 98%;
    height: 90%;
    box-sizing: border-box;
    
}
/*button*/
.maingrid a{    
    position: relative;
    padding: 20px;
    font-size: 2em;
    background-color: cadetblue;
    top: 15%;
}

/*createwindow html*/


.BackToLogo{
    float: left;
    margin-left: 20px;
    font-size: 1em;
    margin-top: 20px;
}
.BackToLogo a{
    text-decoration: none;
}
.timer{
    margin-top: 20px;
    font-size: 1em;
    position: absolute;
    left: 50%;
    margin-left: -158px;  
}
.deleteLobbi{
    float: right; 
    margin-right: 20px;
    font-size: 1em;
    text-decoration: none;
    margin-top: 20px;
}
/*redaction section*/
.main-creatorwindow{
    background-color: rgba(255, 250, 250, 0);
    height: 100%;
}
.redaction{
    position: relative;
    padding-bottom:50px;
    height: 450px;
    width: 100%;
    background-color: rgba(255, 250, 250, 0.7);
}
.redaction-header{
    width: 100%;
    text-align: center;
    background-color: #FCF5E4;
    padding: 5px 0 5px 0;
}
.redaction-flexbox{
    display: flex;
    width: 100%;
    height: 35%;
}
.redaction-flexbox div{
    flex-basis: 33.33%;
    height: 100%;
}
.redaction-flexbox div input, .redaction-flexbox div select{
    font-size: 100%;
    width: 100%;
    height: 35%;
    box-sizing: border-box;
}
.redaction-flexbox div label{
    height: 10%;
    margin-left: 10px;
}
.redaction-comments{
    width: 100%;
    height: 30%;
}
.redaction-comments label{
    height: 10%;
    margin: 10px;
}
.redaction-comments textarea{
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
}
.redactin-button{
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-165px ;
}
.redactin-button a{
    text-decoration: none;
    padding: 10px 100px 10px 100px;
    font-size: 1.4em;
    background-color: #FCF5E4;
}
/*players-section*/
.players{   
    width: 100%;
    height: 700px;
    margin-top: 30px;
}
.players-header{
    width: 100%;
    text-align: center;
    background-color: #FCF5E4;
    padding: 5px 0 5px 0;
}
.players-list{
    background-color: rgba(255, 250, 250, 0.4);
    height: 580px;
}
.players-list-item{
    width: 50%;
    height: 20%;
    align-items: center;
}


/*lobbiList html*/
.mainList div{
    border: black solid 1px;
    width: 100%;
    background-color: rgb(255, 250, 250);
    display: table;
}
.mainList div h3{
    display: inline-block;
    padding: 20px 0 20px 40px;
}
.mainList div a{
    display: inline-block;
    padding: 20px 0 20px 40px;
}

/*find.html*/
.findfilter{
    position: relative;
}
.findfilter-flex{
    display: flex;
    width: 100%;
    height: 250px;
}
.findfilter-flex div{
    flex-basis: 33.33%;
    height: 70%;
}
.findfilter-flex div input,select{
    font-size: 100%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}
.findfilter-button{
    position:absolute;
    left: 50%;
    margin-left: -135px;
    bottom: 0;
} 
.findfilter-button h3{
    font-size: 1.5em;
    background-color: blanchedalmond;
    padding: 10px 100px 10px 100px;
}
.lobbifind{
    margin-top: 20px;
    position: relative;
    width: 100%;
    background-color: rgb(255, 250, 250);
}

.lobbifind h3{
    display: inline-block;
    font-size: 1.5em;
    padding-left: 20px;
}
.lobbifind a{
    text-decoration: none;
    font-size: 1.5em;
    position: absolute;
    right: 20px;
    top: 20px;
}
.lobbifind-coment{
    margin: 0 20px 0 20px;
    border-top:2px solid black ;
}
/*modal window*/

.modalwindow{
    display: none;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.registration-modalwindow,.autorithation-modalwindow{
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: none;
    z-index: 10;
    position: absolute;
    left: 50%;
    margin-left: -18%;
    width: 36%;
    margin-top: 10vh;
    height: 80vh;
    background-color: #FCF5E4;
}
.registration-modalwindow img, .autorithation-modalwindow img{
    width: 5%;
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    top: 0;
    right:0;
}
.registration-modalwindow input, .autorithation-modalwindow input{
    width: 70%;
    margin-top: 2%;
    height: 10%;
    box-sizing: border-box;
    font-size: 1.3em;
}

.registration-modalwindo-button h3, .autorithation-modalwindow-button h3{
    word-wrap: break-word;
    display: block;
    width: 30%;
    margin-left: 33%;
    margin-top: 3%;
    padding: 10px;
    border:1px solid black;
    font-size: 1em;
}

/*autorithation window*/
.autorithation-modalwindow{
    height: 60vh;
} 

.autorithation-modalwindow input{
    height: 20%;
}

/*footer*/

footer{
    display: flex;
    width: 100%;
    background-color:#FCF5E4;
}

.footer-left{
    flex-basis:30%;
    text-align: left;
    padding-left: 3%;
}
.footer-left img{
    margin: 15px;
}
.footer-center{
    flex-basis:33%;
    text-align: center;
}
.footer-rigth{
    flex-basis:25%;
    padding-left: 8%;
    text-align: left;
}