html,body {
    margin:0;
    padding: 0;
}

/*header*/

header{
    width: 100%;
    height: 120px;
    background-color: #FCF5E4;
}
.header-logo{
    float: left;
    font-size: 1.7em;
    height: 120px;
}
.header-logo img{
    display: inline-block;
    margin: 10px;
}
.header-logo  h2{
    position: relative;
    top:-50px;
    display: inline-block;

}
.header-navbar{
    float: right;
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 49px;
}
.header-navbar a{
    width: 100px;
    margin: 20px;
    padding: 20px 40px 20px 40px;
    background-color: #FECC50;
    text-decoration: none; 
}

/*main page*/
main{
    width: 100%;
    height: 960px;
}
.lobbiSearch{
    float: left;
    height:100%;
    width: 50%;
    background-image: url(/Img/SearchLobbi.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.lobbiCreate{
    float: right;
    height:100%;
    width: 50%;
    background-image: url(/Img/Findlobbi.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

/*window inside*/
.lobbiSearch-window, .lobbiCreate-window{
    margin:25% 15% 25% 15%;
    height:50%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 70px;
    text-align: center;
    padding: 20px 15px 0px 15px;
    font-size: 2em;
}
.lobbiSearch-window-gamelist, .lobbiSearch-window-gamelist{
    position: relative;
    top:12%;  
    width: 100%;
    padding-bottom: 0%; 
}
.lobbiSearch-window-gamelist a img, .lobbiSearch-window-gamelist a img{
    border-radius: 10px;
    width: 15%;
    height: 100%;
    margin: 3%;
}

/*find.html grid*/
.maingrid{
    background-color: brown;
    width: 90%;
    height:960px;
    margin: 5%;
    float: left;
    word-spacing: -.36em;
}
.maingrid-gameico{
    padding-top: 15%; 
    width: 15%;
    background-color: cadetblue;
    display: inline-block;
    background-image: url(/Img/dota2.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
.maingrid-minmaxRating, .maingrid-playernumMap, .maingrid-dataAge{
    padding-top: 15%; 
    width: 20%;
    background-color: cadetblue;
    display: inline-block;
}
.maingrid-minmaxRating input{
    position: relative;
    width: 100%;
    height: 50%;
    
}
/*position of stick between blocks*/
.maingrid-gameico-stick, .maingrid-minmaxRating-stick ,.maingrid-playernumMap-stick{
    height: 20px;
    width: 8.3%;
    background-color: cadetblue;
    display: inline-block;
    position: relative;
    top:-10%;
}
.maingrid-comments{
    width: 100%;
    height: 40%;
    background-color: cadetblue;
    margin-top: -.36em;
}
.maingrid-gameico-sticktocoments, .maingrid-minmaxRating-sticktocoments, .maingrid-playernumMap-sticktocoments, .maingrid-dataAge-sticktocoments{
    height: 15%;
    width: 20px;
    background-color: cadetblue;
    display: inline-block;
    margin-top: -.36em;
    margin-left: 26%;
}
.maingrid-gameico-sticktocoments{
    margin-left: 5%;
}

.maingrid a{    
    position: relative;
    left: 40%;
    font-size: 2em;
    padding: 30px;
    background-color: cadetblue;
}

/*footer*/

footer{
    text-align: center;
    background-color:#FCF5E4;
    padding: 30px 0px 20px 0px;
}